body{
    background-color: #E7E2ED;
}
.nav-portal{
    background-color: #6200EE!important;
}

.nav-portal .nav-link, .nav-portal .nav-link a {
    color:#ffffff!important;
}
.theme_body
{
    padding-top: 37px;
    background-color: #ffffff;
    min-height: 637px;
}

.big-title {
    margin-bottom: 3em;
}
h3.big_title {
    font-size: 1.6em;
    color: #6a4a97;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    font-weight: 700;
    border-bottom: 2px solid #6a4a97;
}
.login .card-body
{
    padding: 0rem!important;
}
.login .body{
    padding: 1rem 1rem;
}
.login .shadow,.login .btn-primary,.btn-primary
{
   background-color: #6200ee!important
}
.row_nav {
    background-color: #6200EE!important;
}

.nav-logo
{
    height: 50px;
    width: 192px;
}
.logo{
    height: 125px;
}
.login #action
{
padding-top: 10px;
text-align: right;
}

.login #action button
{
margin-right:5px;
}
.has-error
{
    color:red;
}
.class_img
{
    height: 200px!important;

}

.class .card-body a {

    text-decoration: none;

}
 .theme_body  .class-nav .active
{
    background-color: #76717e;
    color: white;
}
.class-more-btn a ,.white,.white:hover
{
    color: #ffffff;
    text-decoration: none;
}
.modules .accordion-button, .ressources .accordion-button,.assignment .accordion-button
{
    color: black;
    background-color: #f1eff4;
    margin: 0px;
}
.assignment .row
{
    padding: 10px 0px;
}
.assignment-cards p{
    margin: 0px 10px;
}
.modules .accordion-button:not(.collapsed), .ressources .accordion-button:not(.collapsed) {
    color: #000;
    border-top: 1px solid #c6c1c1;
    border-bottom: 1px solid #c6c1c1;
    background-color: #eaecee;
   box-shadow: none;
}
.modules .accordion-item, .ressources .accordion-item{
margin-bottom: 10px;
border-bottom: 1px solid #c6c1c1 !important;
border-left: 1px solid #c6c1c1;
border-right: 1px solid #c6c1c1;
}
.ressources .accordion-item{
    margin-bottom: 10px;
    border-bottom: 1px solid #c6c1c1 !important;
    border-left: 0;
    border-right: 0;
    }

.ressources .fa
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.ressources a {
    color: black;
    text-decoration: none;
}
#bg-nested-dropdown{
    background-color:#49a097!important;
    border: 1px solid #49a097!important;
}

.gradesTable{
    border-top: 1px solid black;
    
}
.assignments-list .accordion-item
{
    padding: 10px!important;
}
.assignments-list a
{
   text-decoration: none;
   color: blue;
}



.dot {
    height: 25px;
    width: 25px;
  
    border-radius: 50%;
    display: inline-block;
  }
  .icons {
    list-style: none;
    padding: 0;
    
}
.icons li {
    float: left;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}
.icons li span:hover,.icons li span.selected  {
	border: 2px solid black;
}
.add-student-btn
{
    float: left;
}